<html lang="es">
<head>
    <style>
        .btn {
          width: 30%;
          border: none;
          color: white;
          padding: 14px 28px;
          cursor: pointer;
          border-radius: 5px;
          margin-bottom: 20px;  
        }
        .primary {
          background-color: #007bff;
        }
        .primary:hover {
          background: #0b7dda;
        }
        .success {
          background-color: #13ad34fb;
        }
        .success:hover {
          background-color: #209924;
        }
        .danger {
          background-color: #f44336;
        }
        .danger:hover {
          background: #da190b;
        }
        
      </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>La Mundial de Seguros</title>
</head>
<body bgcolor="#0f3462" style="margin-top:20px;margin-bottom:20px">

  <table border="0" align="center" cellspacing="0" cellpadding="0" bgcolor="white" width="650">
    <tr>
      <td>

        <table border="0" cellspacing="0" cellpadding="0" style="color:#0f3462; font-family: sans-serif;">
          <tr>
            <td>
                <div style="display: flex; justify-content: center; margin-top: 12px;">
                <img src="https://lmportal.lamundialdeseguros.com/lamundialcms/dist/img/logo.png" width="320">
            </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
                <br>
              <h1 style="margin: 0px;padding-bottom: 25px; text-transform: uppercase;">Estimado <%= nombre %>.</h1>
              <p style=" margin: 0px 32px;padding-bottom: 25px;line-height: 2; font-size: 15px;">
                
                En nombre de todo el equipo de La Mundial de seguros, queremos darte la más cordial bienvenida a nuestra empresa. Nos sentimos muy felices de que hayas elegido proteger tu futuro con nosotros.
                
                En La Mundial de seguros, nos comprometemos a ofrecerte la mejor experiencia posible en la gestión de tus seguros. Contamos con un equipo de profesionales altamente cualificados y con una amplia experiencia en el sector, que estarán encantados de ayudarte a encontrar la póliza que mejor se adapte a tus necesidades.
                
                Además, ponemos a tu disposición una amplia gama de productos y servicios para que puedas proteger lo que más te importa: tu hogar, tu familia, tu vehículo, tu negocio...
                
                Para que puedas disfrutar de todas las ventajas de ser cliente de La Mundial de seguros, te invitamos a que te pongas en contacto con nosotros a través de cualquiera de los siguientes canales:
               
                <br>
                Teléfono: +58 (424) 2031351
                <br>
                Correo electrónico: info@lamundialdeseguros.com
                <br>
                Sitio web: https://lamundialdeseguros.com/
                <br>
                Estaremos encantados de atenderte y ayudarte a resolver cualquier duda que puedas tener.
                
                De nuevo, te damos la bienvenida a La Mundial de seguros y te deseamos una larga y fructífera relación con nosotros.
                
                Atentamente,
                <h2 style="margin: 0px; padding-bottom: 25px;">La Mundial de Seguros</h2>
                <!-- <%= url %>/recibos/<%= estatus %>/" -->
                
                <button class="btn success" >Excel</button>
                <button class="btn danger" href="<%= url %>/recibos/<%= estatus %>/"  >PDF</button>
              </p>

            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</body>

</html>